{% extends "layout.html" %}

{% block styles %}
<style>
    .card {
        padding: 40px;
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: #f8f9fa;
    }

    .input-group {
        display: flex;
        gap: 10px;
        width: 100%;
    }

    .form-control {
        flex-grow: 1;
        min-width: 400px;
        border-color: #ced4da;
    }
</style>
{% endblock %}

{% block title %}Главная страница{% endblock %}

{% block content %}

  <div class="card mx-auto" style="max-width: 800px;">
    <h1>Анализатор страниц</h1>
    <p>Бесплатно проверяйте сайты на SEO-пригодность</p>

    <form class="d-flex" action="{{ url_for('index') }}" method="post">
      <input type="text"
             id="url"
             name="url"
             placeholder="https://www.example.com" 
             value="{{ request.form['url'] if request.method == 'POST' else '' }}"
             class="form-control form-control-lg {% if get_flashed_messages(category_filter=['error']) %}is-invalid{% endif %}"
             required>
      <button type="submit" class="btn btn-primary btn-lg ms-3 px-5 text-uppercase">Проверить</button>
    </form>
  </div>
{% endblock %}