{% extends "layout.html" %}
{% block title %}Список URL{% endblock %}

{% block content %}
<div class="card">
    <h2 class="mb-4 text-center">Сайты</h2>
    <table class="table" data-test="urls">
        <thead>
            <tr>
                <th>ID</th>
                <th>Имя</th>
                <th>Дата добавления</th>
                <th>Последняя проверка</th>
            </tr>
        </thead>
        <tbody>
            {% for url in urls %}
            <tr>
                <td>{{ url[0] }}</td>
                <td><a href="{{ url_for('url_detail', id=url[0]) }}">{{ url[1] }}</a></td>
                <td>{{ url[2].strftime('%Y-%m-%d') }}</td>
                <td>
                    {% if url[3] %}
                        {{ url[3].strftime('%Y-%m-%d') }}
                    {% else %}
                        —
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}